aiocontextvars==0.2.2
bottle==0.12.19
certifi==2021.10.8
charset-normalizer==2.0.12
contextvars==2.4
idna==3.3
immutables==0.16
loguru==0.6.0
requests==2.27.1
typing_extensions==4.1.1
urllib3==1.26.8
